/*//META{"name":"Background Opacity","description":"Hides your email and username in settings","author":"Hoofer#0001 | https://twitter.com/leHoofer","version":"1.0","website":"https://iman.engineer","source":"https://raw.githubusercontent.com/HooferDevelops/BackdropOpacity/master/BackdropOpacity.theme.css"}*//**/

:root {
    --file-transparency: 0.5;
    --menu-transparency: 0.5;
}

.da-backdropWithLayer {
    opacity: var(--menu-transparency) !important;
}
.da-backdrop {
    opacity: var(--file-transparency) !important;
}
